.dialogs {
  background: #fff;
  overflow: auto;
  border-radius: 5px 5px 0 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 80px;
}

.dialogsItems {
  grid-column: 1/2;
  grid-row: 1/5;
  border-right: 1px solid var(--main-bg-color);
  background: #fff;
  width: 100%;
  overflow: auto;
}

.dialogsItems::-webkit-scrollbar {
  width: 0;
}

.chat {
  grid-column: 2/5;
  grid-row: 1/4;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.messagesWrapper {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.writeMessage {
  margin-top: 10px;
  grid-row: 4/5;
  display: flex;
  padding: 10px 20px;
  bottom: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  transition: 0.2s ease-in;
  align-items: flex-end;
  transition: 0.2s;
}

.messageInput {
  border: none;
  background: #d5d5d5;
  min-height: 30px;
  border-radius: 20px 10px 10px 20px;
  width: 100%;
  resize: none;
  padding: 10px 15px;
  font-size: 14px;
  max-height: 170px;
}

.messageInput::-webkit-scrollbar {
  width: 0;
}

.send {
  height: 34px;
  border-radius: 10px 20px 20px 10px;
}
